.menu_container {
	background-image: url(../images/bg-menu-left.png);
	background-repeat:no-repeat;
	height: 34px;
	padding: 0px 0px 0px 6px;
	border: dotted 0px #f00;
	margin: 0px 0px 1em 0px;
}

.menu_container_right {
	background-image: url(../images/bg-menu-right.png);
	background-repeat:no-repeat;
	background-position: top right;
	height: 34px;
	padding: 0px;
	border: dotted 1px #0f0;	
	float: right;
	font-size: 0px;
	margin: 0px;
}


.menu_inner {
	background-image: url(../images/bg-menu-grad.png);
	background-repeat:repeat-x;
	height: 34px;
}


.ddsmoothmenu{
	font: bold 12px Verdana;
	width: 100%;
	border: 0px dotted #f00;
	margin-bottom: 1em;
	background-image: url(../images/bg-menu-right.png);
	background-repeat:no-repeat;
	background-position:right;
padding: 0px 0px 0px 0px;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
	padding: 0px;
	margin: 0px;
	background-color:#fff;
	background-image: url(../images/bg-menu-grad.png);
	background-repeat:repeat-x;	
	vertical-align: middle;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
	display: block;
	background: #535957; /*background of menu items (default state)*/
	color: white;
	padding: 10px 22px 10px 22px;
	border-right: 0px solid #325d76;
	color: #2d2b2b;
	text-decoration: none;
	background-image: url(../images/bg-menu-grad.png);
	background-repeat:repeat-x;
	margin-right: 2px;
	vertical-align: middle;
}

.ddsmoothmenu ul li a.menu-wide{
	padding: 10px 32px 10px 32px;
}




* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: white;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #444a49; /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-grad-at.png);
	background-repeat:repeat-x;
}



.ddsmoothmenu ul li.menu-ae a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #444a49; /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-grad-ae.png);
	background-repeat:repeat-x;
}


.ddsmoothmenu ul li.menu-zrm a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #444a49; /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-grad-zrm.png);
	background-repeat:repeat-x;
}

.ddsmoothmenu ul li.menu-zcb a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #444a49; /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-grad-zcb.png);
	background-repeat:repeat-x;
}















.ddsmoothmenu ul li a:hover{
background: #444a49; /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-grad-at.png);
	background-repeat:repeat-x;
	background-position:center;

}




.ddsmoothmenu  ul.drop-company li a {
	width: 126px;
	border: dotted 0px #f00;
	border-bottom: solid 0px #7e8786;
	padding-left: 22px;
	background-image: url(../images/bg-menu-separator.png);
	background-repeat:repeat-x;
	background-position: bottom;	

}


.ddsmoothmenu ul.drop-company li a:hover{
background: #444a49; /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-drop-at.png);
	background-repeat:repeat-x;
	background-position:center;
}



.ddsmoothmenu  ul.drop-store li a {
	width: 160px;
	border: dotted 0px #f00;
	border-bottom: solid 0px #7e8786;
	padding-left: 22px;
	background-image: url(../images/bg-menu-separator.png);
	background-repeat:repeat-x;
	background-position: bottom;	
}

.ddsmoothmenu ul.drop-store li a:hover{
background: #444a49; /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-drop-at.png);
	background-repeat:repeat-x;
	background-position:center;
}




.ddsmoothmenu  ul.drop-ae  li a {
background: #517a90; /*background of menu items during onmouseover (hover state)*/
width: 184px;
border: dotted 0px #f00;
border-bottom: solid 0px #86a6b7;
padding-left: 22px;
	background-image: url(../images/bg-menu-separator.png);
	background-repeat:repeat-x;
	background-position: bottom;

}


.ddsmoothmenu  ul.drop-ae  li a:hover {
	background-image: url(../images/bg-menu-drop-ae.png);
	background-repeat:repeat-x;
	color: #fff;
	border: dotted 0px #f00;
	border-bottom: solid 0px #86a6b7;
}


.ddsmoothmenu  ul.drop-zrm  li a {
	background: #aa5901; /*background of menu items during onmouseover (hover state)*/
	border-bottom: solid 0px #d2a26e;
	width: 140px;
	padding-left: 22px;
	background-image: url(../images/bg-menu-separator.png);
	background-repeat:repeat-x;
	background-position:bottom;
}


.ddsmoothmenu  ul.drop-zrm li a:hover {
	background-image: url(../images/bg-menu-drop-zrm.png);
	background-repeat:repeat-x;
	background-position:center;	
	border-bottom: solid 0px #d2a26e;
}



.ddsmoothmenu  ul.drop-zcb  li a {
	background: #378067; /*background of menu items during onmouseover (hover state)*/
	color: #fff;
	border-bottom: solid 0px #92d7bf;
	width: 163px;
	padding-left: 22px;
	background-image: url(../images/bg-menu-separator.png);
	background-repeat:repeat-x;
	background-position:bottom;

}


.ddsmoothmenu  ul.drop-zcb  li a:hover {
	background-image: url(../images/bg-menu-drop-zcb.png);
	background-repeat:repeat-x;
	background-position:center;
border-bottom: solid 0px #92d7bf;
}


.ddsmoothmenu li a.menu-at {
	background: #444a49; 
	background-image: url(../images/bg-menu-grad-at.png);
	background-repeat:repeat-x;
}

.ddsmoothmenu li a.menu-wide-at {
	background: #444a49; 
	background-image: url(../images/bg-menu-grad-at.png);
	background-repeat:repeat-x;
	padding: 10px 32px 10px 32px;
}



.ddsmoothmenu ul.menu-ae li a:hover{
background: #6cadd0; /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-grad-ae.png);
	background-repeat:repeat-x;
}

.ddsmoothmenu li.menu-ae  a:hover{
background: #6cadd0; /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-grad-ae.png);
	background-repeat:repeat-x;
}


.ddsmoothmenu li a.menu-ae-at {
background: #6cadd0; /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-grad-ae.png);
	background-repeat:repeat-x;
}


.ddsmoothmenu ul.menu-zrm li a:hover{
background: #ff8711; /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-grad-zrm.png);
	background-repeat:repeat-x;
}

.ddsmoothmenu li.menu-zrm  a:hover{
background: #ff8711; /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-grad-zrm.png);
	background-repeat:repeat-x;
}



.ddsmoothmenu li a.menu-zrm-at {
background: #ff8711; /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-grad-zrm.png);
	background-repeat:repeat-x;
}

.ddsmoothmenu ul.menu-zcb li a:hover{
background: #0eaa6d; /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-grad-zcb.png);
	background-repeat:repeat-x;
}

.ddsmoothmenu li.menu-zcb  a:hover{
background: #0eaa6d; /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-grad-zcb.png);
	background-repeat:repeat-x;
}

.ddsmoothmenu li a.menu-zcb-at {
background: #0eaa6d;  /*background of menu items during onmouseover (hover state)*/
	background-image: url(../images/bg-menu-grad-zcb.png);
	background-repeat:repeat-x;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
font: normal 13px Verdana;
width: 160px; /*width of sub menus*/
padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid #728380;
background-image:none;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background: silver;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
	opacity: 0.8;
}


element.style{
	margin-right:80px;
}


