



img {
border: 0px;
}



.container{
	margin: 10px auto;
	width: 1015px;
	border: dotted 0px #f00;
	padding: 0px;
	text-align: left;
	}
	

.inner-container {
	background-color:#FFF;
	border: dotted 0px #0f0;
	padding: 10px 20px;
	}
	

.inner-content {

border: dotted 0px #00f;
padding: 20px 220px 20px  0px;
}


.inner-content-full {
border: dotted 0px #00f;
padding: 20px 0px 20px  0px;
}

.inner-content-index {
border: dotted 0px #00f;
padding: 0px 0px 20px  0px;
}



.new-right-col {
	border: dotted 0px #0f0;
	float: right;
	width: 200px;
	padding: 20px 0px 0px 0px;
}

.bg-top, .bg-bottom  {
	background-repeat:no-repeat;
	height: 11px;
	border: dotted 0px #f00;
}

.bg-top {
	background-image:url(../images/bg-top.png);
}

.bg-bottom {
	background-image:url(../images/bg-bottom.png);
}


.top_container {
	padding: 0px 0px 20px 10px;
	border: dotted 0px #f00;
	margin-right: 0px;s
}

.top_right {
	float: right;
	border: dotted 0px #f00;
	padding-top: 11px;
}

table.top_right_navi td {
 text-align: center;
 vertical-align: middle;
}

.search_input {
	background-image: url(../images/index_search_bg.png);
	background-repeat:no-repeat;
	width: 204px;
	height: 28px;
	border: dotted 0px #0f0;
	background-color: transparent;
}

td.search_btn {
	border: dotted 0px #f00;
}

#searchInputx {
background: transparent;
}









