.headerContainer {
	position:relative;
	top:0px;
	left:0px;
	width:900px;
	height:70px;
	}

#logo {
	position:absolute;
	top:16px;
	left:12px;
	width:280px;
	height:61px;
	}

/***********************************************/
/* 	Sitemap
/***********************************************/
#sitemap{
	text-align:left;
	font-size:10pt;
	margin:10px 20px 10px 20px;
	}

#sitemap h1{
	text-align:center;
	padding:2em 0 2em 0;
	border:solid 1px #000;
	background-color:#88bbcc;
	margin-bottom:1.5em;
	}

.sitemapSubs {
	width:300px;
	padding:20px;
	font-size:8pt;

	}
.sitemapSubs li{
	list-style-type:disc;
	margin-left:-10px;



	}
#sitemap td{

	vertical-align:top;
	}



/***********************************************/
/*     Global Links                            */
/***********************************************/
#globalLinks {
	position:absolute;
	top:17px;
/*	left:637px; */
	right:165px;	
	}

#login {	
	position:absolute;
	top:55px;
	right:10px;
	}
#logout{
	position:absolute;
	top:55px;
	right:10px;
	}


#login span {
	color:#003366; 
	font-size:1.2em;
	}

/***********************************************/
/*     Search Styles                           */
/***********************************************/
#floatingSearchBox {
	position:absolute;
	top:15px;
	left:746px;
	width:138px;
	height:19px;
	border:0px;
	padding:3px 0px 0px 5px;
	background-color:#fff;
    background-image:url(../images/header/search.gif);
	}
	
#searchInput {
	position:absolute;
	top:2px;
	left:5px;
	width:105px;
	height:15px;
    border: dotted 0px #f00;
	font:normal 12px Arial,sans-serif, Helvetica;;
    color:#006699;
	}

#searchGoButton {
	position:absolute;
	top:0px;
	left:109px;
	width:34px;
	height:19px;
	border:0px;
	font-size:1px;
	line-height:1px;
	text-align:right;
	color:#fff;
    background-image:url(../images/header/search-button.gif);
	cursor:pointer;
	}

#searchGoButton1 {
	position:absolute;
	top:0px;
	left:109px;
	width:34px;
	height:19px;
	border:0px;
    background-image:url(../images/header/search-button.gif);
	cursor:pointer;
	z-index:33;
	}



/***********************************************/
/*     Nav Table Styles                        */
/***********************************************/
.navBox {
	position:relative;
	top:0px;
	left:0px;
	width:878px;
	height:25px;
	}

#navTable {
	position:relative;
	top:6px;
	left:1px;
	width:878px;
	height:22px;
	}
#subNavigation {
	padding-left:5px;
	}
	
/***********************************************/
/*     Sub-Nav Styles                          */
/***********************************************/

#subNavigation {
	width:185px;
	text-align:left;
	font:normal 14px Arial, sans-serif, Helvetica;
	}

#subNavigation ul {
	list-style:none;
	margin:0;
	padding:0;
	border-top:1px solid #003366;
	}
#subNavigation li {
	border-bottom:1px solid #83b2c9;
	}
	
#subNavigation li a:link, #subNavigation li a:visited {
	font-size:90%;
	display:block;
	padding:0.4em 0 0.4em 0.5em;
	border-right:1px solid #003366;
	border-bottom:1px solid #003366;
	border-left:10px solid #003366;
	background-color:#83b2c9;
	color:#ffffff;
	text-decoration:none;
	}

#subNavigation li a:hover {
	background-color:#d5e4ec;
	color:#1a1a1a;
	}

#subNavigation #current {
  	font-size:90%;
	display:block;
	padding:0.4em 0 0.4em 0.5em;
	border-right:1px solid #003366;
	border-bottom:1px solid #003366;
	border-left:10px solid #003366;
	background-color:#5c706d;
	color:#FFFFFF;
	text-decoration:none;
  	}
/***********************************************/
/* Ad styles
/***********************************************/
.advertSpacer {
	height:20px;
	}

.HL_Security{

	margin:1em 0 0 0;

}
	
.HL_Security a: hover{
	border-bottom:solid 1px #FFFFFF; !Important
	
	 
}

/***********************************************/
/*     HTML Tag Styles                         */
/***********************************************/

a:link, a:visited, a:hover  {
	color:#0030cc;
	text-decoration:none;
	}

a:hover {
	text-decoration:underline;
	}
	
a img: hover{
	text-decoration:none;
	}
/* overrides decoration from previous rule for hovered links */

h1, h2, h3, h4, h5, h6 {
	font-family:Arial, sans-serif, Helvetica;
	}

h1 {
 	font-size:120%;
 	color:#334d55;
	}




h2 {
 	font-size:100%;
 	color:#32373a;
	}

h3 {
	margin-top: 0px;
	padding-top: 0px;
 	font-size:100%;
 	color:#334d55;
	}
	
	
h3.news {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	}	
	

h4 {
 	font-size:100%;
 	font-weight:normal;
 	color:#333333;
	}

h5 {
 	font-size:100%;
 	color:#334d55;
	}


h6.no_padding{
padding-bottom: 0px;
margin-bottom: 0px;
padding-top: 0px;
margin-top: 0px;
	}


h6 {
 	font-size:100%;
font-weight: 900;
}

ul {
 	list-style-type:disk;
	}

ul ul {
 	list-style-type:circle;
	}

ul ul ul {
 	list-style-type:square;
	}
	
	
ul.half_space li {

margin-bottom: 0.5em;
}	
	
	
	
ul.one {
border: dotted 0px #f00;
margin-left: 0em ;
padding-left: 0.8em;
}	
	
	
ul.one li {
padding-bottom: 0.9em;
border: dotted 0px #0f0;

}		
	
ul.red_note {
border: dotted 0px #f00;
margin-left: 0em ;
padding-left: 0.8em;
}	
	
	
ul.red_note  {
padding-bottom: 0.9em;
border: dotted 0px #0f0;
color: #f00;

}	
	
	
ol li {
	padding-bottom: 1.2em;
	border: dotted 0px #f00;


}
	
	
	
hr {
	border:#FF9900;
	border-top-style:solid;
	border-width:thin;
	}

/***********************************************/
/*     Forms                                   */
/***********************************************/

form p {
	width:400px;
	clear:both;
	}
	
form p label {
	float:left;
	font:bold 100% Arial,sans-serif, Helvetica;
 	color:#1a1a1a;
	}
	
form p input, form p textarea, form p select {
	float:right;
	}

.required {
	font:normal 12px Arial, sans-serif, Helvetica;
	color:#ff0000;
	}

/***********************************************/
/*     Footer Styles: Home Page                */
/***********************************************/

/* negative top margin pulls siteinfo up so its top border overlaps (and thus lines up with)
   the bottom border of the rightNav in cases where they "touch" */
#footer {
	position:relative;
	top:462px;
	left:10px;
	width:800px;
	padding:2px 5px 2px 10px;
	margin-top:0px;
	font:normal .95em Arial,sans-serif, Helvetica;;
    color:#1a1a1a;
	text-align:left;
	}
	
/*     Copright Styles Terms &amp; Privacey Page   */

.copyright {
	font-size:8pt;
	font-weight:normal;
	color:#999999;
	}
	
/*   GNU STYLES   */
	
body { 
	font-family: Arial, Helvetica, sans-serif;
	font-size:96%;
	background-color:#929693;
	background-image:url(../images/bg-main.png); 
	background-repeat: repeat-x;
	margin: 0px;
	padding:0px;
	line-height:1.2em; 
	text-align: center;
	}


body.bg-zrm {
background-image:url(../images/bg_zrm.png) !important;
background-repeat:repeat-x !important;
background-color: #d87d1b;
}


body.bg-ae {
background-image:url(../images/bg_ae.png) !important;
background-repeat:repeat-x !important;
background-color: #598eaa;
}


body.bg-zcb {
background-image:url(../images/bg_zcb.png) !important;
background-repeat:repeat-x !important;
background-color: #5aa78d;
}



	
#content-fullpage {
	position:relative;
	width:860px;
	padding: 0px 40px 5px 20px;
	border: dotted 0px #f00;
	/* min-height:600px; */
	}	
	
#center-content {
	position:relative;
	/*float:right;*/
	width:685px;
	padding: 0px 10px 5px 5px;
	/* min-height:600px; */
	}

	


/*   3rd layout */ 


	
/* end   3rd layout */ 	
		
		
		
#z-home-banner {
	position:absolute;
	top:119px;
	left: 16px;
	width:586px;
	height:105px;
	background-image:url();
	background-repeat:no-repeat;
	}
#z-home-aee-box {
	position:absolute;
	top:233px;
	left: 12px;
	width:295px;
	height:342px;
	background-image:url();
	background-repeat:no-repeat;
	}		
#z-home-zrm-box {
	position:absolute;
	top:233px;
	left: 312px;
	width:293px;
	height:341px;
	background-image:url();
	background-repeat:no-repeat;
	}		
#z-home-news-box {
	position:absolute;
	top:119px;
	left: 611px;
	width:287px;
	height:455px;
	background-image:url();
	background-repeat:no-repeat;
	}	
		
#z-footer {
	position:absolute;
	top:582px;
	left: 8px;
	width:893px;
	height:32px;
	font-size:.8em;
	}
.feature {
	line-height:1.5em;
	}

.feature img {
	display:inline;
	padding:10px 5px 0px 0px;
	margin:0 10px 5px 0;
	}

.story {
	padding:10px;
	line-height:1.5em;
	}
	
.story img {
	display:inline;
	padding:10px 5px 0px 0px;
	margin:0 10px 5px 0;
	}
/*******************************
* Events page.
* This selector is for adding a black line to the bottom 
* of each event.  Use the .story selector is you don't want 
* this separator.
*******************************/
.eventsStory {
	padding:10px;
	line-height:1.5em;
	border-bottom: solid thin #000;
	}
	






		
#quote {
	padding-left:12px;
	font-size:1em;
	padding-bottom: 2em;
	padding-top: 1em;
	text-align: left !important;
	}
				
.test-text {
	font-family:Verdana;
	font-size:2em;
	}		

.rss-img { height:24px;
	line-height:24px;
	vertical-align:middle;
		} 


/******************************************************
*
* Pricing table
*
******************************************************/

.pricingTableWrapper {
	border:1px solid #5C706E;
	line-height:1em;
	}

.pricingTable {
	font-size:11px;
	text-align:center;
	}
.pricingTable img{
	padding:10px;
	}
		
.pricingTable tr td {
	border-left:solid 1px #d9d9d9;
	border-top:solid 1px #d9d9d9;	
	text-align: center;
	vertical-align: middle;
	}
		
.pricingTable ul{
	list-style:none;
	text-align:left;
/*	margin-left:-14px; */
	}
			
.pricingTableHead {
	height:29px;
	background: #ffffff url(../images/main_heading_background.gif) repeat-x;
	border-left:1px solid #5C706E;
	border-right:1px solid #5C706E;		
	}

.pricingTableHead div{
	width:600px;
	margin-left:10px;
	padding-top: 4px;
	}
		
.pricingClientData  {
	border-left:none !important;
	text-align:left !important;
	padding-right:1em;
	vertical-align:top !important;
	}

			
td .pricingClientData div.s3-pricing-page-padding{
	padding-top:5xp;
	padding-bottom:5px;
}



.asterisk {
	color: #FF0000
	}



.contactLink {
	text-align:right;
	margin:0px 30px 0px 0px;
	font-size:9px;
	color:#9a9a9a;
	}
	
.contactLink a{
	color:#9a9a9a;
	}	
	
/* Tatjana's css*/	
	
#header-middle-size-blue{
	margin:1em 0em 1em 0em;
	font-weight:700;
	color:#	00659c;
	}
	

.orange_headers a{
text-decoration:underline;
	
}
	
	
.orange_headers{
	font-weight: 700;
}

p.orange_headers {
	border: dotted 0px #f00;
	margin-bottom: 1px;
	padding-bottom: 1px;
	padding-top: 1.4em;
}


.orange_bullet{
	list-style: circle;
}	
	
	
/* Tatjana's css*/	


.table-design-1{
	border-top: 0px solid #666;
	border-right: 0px solid #666;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;}
	
#header-middle-size-blue{
	margin:1em 0em 1em 0em;
	font-weight:700;
	color:#	00659c;
	}
	

.orange_headers a{
text-decoration:underline;
	
}
	
	
.orange_headers{
	font-weight: 700;
}


.orange_bullet{
	list-style: circle;
}	
	
	
.image_and_para {
	line-height:1.5em;
	}

.feature img {
	display:inline;
	padding:10px 5px 0px 0px;
	margin:0 10px 5px 0;
	}
	
	
.eventsStory_no_line {
	padding:10px;
	line-height:1.5em;
	}
	
	
span.pad_left{
	margin-left:3em;
}
		
	
.eventsStory_no_line img{
	margin: 0px 15px 15px 15px;
}	
	
td.align_top{
	vertical-align:top;

}


table.events_table{
	vertical-align:text-top;
}



table.three_rows_comparison td{
	text-align: center;
}

table.three_rows_comparison tr.header td {
	text-align: center;
}


table.three_rows_comparison tr.header td.first_cell {
	text-align: left;
}


table.three_rows_comparison td.first_cell{
	text-align: left;
}
	
	
table.events_table img{
	vertical-align:bottom;
	margin:0px 10px 10px 0px;
}	



td.generic_centered {
	text-align: center;
}


td.generic_centered  ul{
	text-align: left;
}




.contactLink_v2 {
	text-align:right;
	margin:0px 0px 0px 0px;
	font-size:9px;
	color:#9a9a9a;
	}

.visited_links a:visited{
color:#660099;

}

/* compatibility table*/

.zrm-bg{
	background-color:#E77201;
	color:#FFFFFF;
	padding: 5px 0px 5px 10px;
	border-right: 1px solid #666666;
	}


.amanda-bg{
	padding: 5px 0px 5px 5px;
	background-color:#71a0b7;
	color:#FFF;
	border-right: 1px solid #666;
	}




table.compat-matrix{
	border-top: 1px solid #666;
	border-right: 0px solid #666;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	}

table.compat-matrix td {
	vertical-align:top;
}

table.compat-matrix2 {
	border-top: 0px solid #666 !important;

}

table.compat-matrix2 td {
	padding:5px;
	border-right:1px solid #666;
	border-top:1px solid #666;
	text-align: center;
}

table.compat-matrix2 td:first-child {
	text-align: left;
}


td.brd-left {
	border-left:1px solid #666;
	border-top:1px solid #666;
	padding:5px;
	}

td.brd-left-bottom {
	border-left:1px solid #666;
	border-bottom:1px solid #666;
	padding:5px;
	}


.bord-lf {
	border-left:1px solid #666;
	padding:5px;
}

td.bord-bottom {
	border-bottom:1px solid #666;
	padding-left:5px;
	}
	
td.bord-top{
	border-top:1px solid #666;
	padding:5px;
	}
	
.pad-4-td{
	padding:5px;
	border-right:1px solid #666;
	border-top:1px solid #666;
	}
	
.pad-4-td-no-border{			/* by Vishal */
	padding:5px;
	}
	
.pad-4-td-no-border-heads{			/* by tatjana */
	padding:4 px 0px 0px 5px;
	}	
/*confirmation message for feedback*/

.confirm-msg{
	padding:100px 280px 390px 0px;
	font-weight:700;
	}
	
.text-right{
	text-align:right;
	padding-right:90px;
	
}

.white-bg-big{
	background-color:#FFF;
	padding: 0px 20px 0px 20px;
	}
	
/* ZN ad banners positioning*/
	
div.banners {
	border:dotted 0px #f00;
	text-align:center;
	margin: 0px 0px 10px 0px;
	padding-left: 0px;
}
	
	
div.banners a{
	display: block;
	margin-top: 10px;
}
		
	
div.banners div{
	border: dotted 0px #0f0;
	text-align: center; 
	margin-top: 10px;
	}	

div.osca {
padding-left: 4px;
}


/* additional resources table for AE and ZRM on www*/

.gray-subheader2{
	font-weight: 700;
	color:#262d2c;
	}	

.blue-font{
	color:#83b2c9;
}

.white-subheader2{
	font-weight: 900;
	font-size:16px;
	color:#FFF;
	background-color:#fc9512;
	padding:20px 15px 20px 15px;
	border-left:solid 0px #666;
}


.white-subheader3{
	font-weight: 900;
	font-size:16px;
	color:#FFF;
	background-color:#3190bf;
	padding:20px 15px 20px 15px;
	border-left:solid 0px #666;
}

table.gray{
	padding:10px 15px 10px 15px;
	vertical-align:top;	
}

table.gray_table td.gray-table-head{
	background-color:#5c706d;
	padding:20px 15px 20px 15px;
	border-left:solid 1px #666;
}


.gray-table-head-z{
	background-color:#fc9512;
	padding:20px 15px 20px 15px;
	border-left:solid 1px #666;
}

table.gray_table td.gray-table-head-lf-brd{
	background-color:#5c706d;
	padding:20px 15px 20px 15px;
	border-left:solid 1px #666;
}

.gray_table{
	border: 1px solid #5c706d;
	margin-bottom:20px;
	margin-top:40px;
}

.gray_table-z{
	border: 1px solid #fc9512;
	margin-bottom:20px;
	margin-top:40px;
}

.gray_table-z ul.disc{
	padding-top:0px;
	margin-top:0px;
	margin-left:15px;
	padding-left:3px;
	line-height:1.8em;
}


/* td.special_table_header {
	 background-color: #5c706d; 
	font-size: 120%;
	padding: 0px;
	color:#FFF;
	font-weight: 900;
} */




table.gray_table td{
	padding:10px;
	vertical-align:top;
}

table.gray_table-z td{
	padding:10px;
	vertical-align:top;
}


.disc-1 {
	list-style-type:disc;
	padding:0px 0px 0px 10px;
	margin: 0px;
}

.disc-1 li{ 
	margin-bottom:6px;
	margin-left:0px;
}



.just_underline{
	text-decoration:underline;
}

.list_items_paddings li{
	padding-bottom: 5px;
}


.gray-subheader3{
	font-weight: 700;
	color:#313a39;
	}	

.white-subheader2-center{
	font-weight: 900;
	font-size:16px;
	color:#FFF;
	text-align:center;
	margin-top: 15px;
}


table.compat-matrix td.inter_td {
	background-color:#f1f1f1;
	/* border-top:1px solid #666;
	border-bottom:1px solid #666; */
	padding:0px;
}


.white-text{
	color:#FFF;
}



.no_style{
list-style:none;

}

.no_style_1{
	list-style:none;
	padding-left:0px;
	margin-left:0px;

}

/* styles for the new amanda enterprise pages with intertabbing */


div.container {
	padding: 5px;	
}



table.tabbed_table td a{
	text-decoration: none;
}


td.content {
	background-color: #fff;
	border-top: solid 0px #f00;
	border-right: solid 1px #afbfc5;
	border-bottom: solid 1px #afbfc5;
	border-left: solid 1px #afbfc5;		
	padding: 20px;	
}
	
td.pane_at {
padding: 7px 0px 0px 4px;
	background-image: url(../images/bg_pane_at.png);
	background-repeat: repeat-x;
	border-bottom: solid 1px #fff;
}

td.pane {
padding: 7px 0px 0px 4px;
	background-image: url(../images/bg_pane.png);
	background-repeat: repeat-x;
	border-bottom: solid 1px #afbfc5;	
}


td.close {
	padding: 0px 5px 0px 0px;
	border-bottom: solid 1px #afbfc5;		
}

td.close_at {
	padding: 0px;
	border-bottom: solid 1px #fff;		
}

td.icon {
	padding: 0px;
	border-bottom: solid 1px #afbfc5;		
}

td.icon_first {
	padding: 0px 0px 0px 5px;
	border-bottom: solid 1px #afbfc5;		
}


td.icon_at {
	padding: 0px;
	border-bottom: solid 1px #fff;		
}

td.bottom_line {
	border-bottom: solid 1px #afbfc5;	

}


div.header_block {
	border: solid 0px #ff0;
	padding: 0px;
	margin: 8px 0px 20px 0px;
}

div.boxes {
	float: left;
	padding: 0px 30px 20px 0px;
	border: solid 1px #f00;
}

div.header_txt {
	float: left;
	padding: 0px 30px 20px 0px;	
	border: solid 1px #0f0;
}




span#current_2{
	color:#000;
	padding:5px 20px 5px 5px;
	/* font-size:12px; */

}

td.content_submenu {
	background-color: #fff;
	border-top: solid 0px #f00;
	border-right: solid 1px #afbfc5;
	border-bottom: solid 1px #afbfc5;
	border-left: solid 1px #afbfc5;	
	padding:8px 20px 5px 8px;	
	
	
}

td.content_submenu span a{
	padding:5px 20px 5px 5px;	
	color:#004dcc;
}

.black-tabs-header{
	color:#004dcc;
	padding-left:0px;
}


.black-link a{
	color:#004dcc;
	font-size:12px;
}





/*end css for AE intertabbing*/


/* new resource table for amanda enterprise*/

div.special_table {
	/*background-color: #f1f3f4;*/
	color: #000;
	/* -moz-border-radius:25px; */
	border:1px solid #666666;
	line-height:3em;	
}

div.special_table_header {
	background-color: #5c706d;
	font-size: 120%;
	padding: 10px;
	font-weight: 900;
}

div.special_table_content div {
	padding: 5px;
	border-bottom: dotted 1px #666;
	
}

div.special_table_content strong{
	padding-bottom: 1.8em;
	font-weight: 900;
}

div.special_table_content a:hover {
	text-decoration: underline;
}

div.special_table_content a{

}



span.white_text{
	color:#000;
	padding-bottom:8px;
	font-size:14px;
}

/*end new table for amanda enterprise*/



/* new resorse center  */

table.gray_table td.r-center{
	padding:25px 0px 0px 10px;
	margin:0px;
	font-weight:700;
	}
	
table.gray_table td.r-center2{
	padding:25px 0px 0px 30px;
	margin:0px;
	font-weight:700;
	}
	
	

.light-row {background-color:#FFFFCC;} /* added by Vishal on July 2, 2008 - used by amanda-client-overview.html  */

.disc {
	list-style-type:disc;
}

.disc li{ 
	margin-bottom:8px;
	
}

/*fix for ie bug for new amanda pages*/

#right-content_2 {
	
	float:right;
	width:685px;
	padding: 0px 10px 5px 5px;
	/* min-height:600px; */
	}

#right-content-cla{
	padding: 5px 20px 10px 30px;
	margin-left:5px;
	border: solid 0px #f00;
	}



/*  CSS for FAQ page for Amanda Enterprise */

div.faq {
	padding: 4px 0 4px 0;
	width: 480px;
	line-height:1.5em;
}
div.faq p {
	padding-bottom: 12px;
}
div.faq .question {
	text-decoration: underline;
	color: #00c;
	
	padding-bottom: 2px;
	cursor: pointer;
	background:url(/marketing/content/images/disk.gif) no-repeat 0px 4px;
	padding-left:12px;
}
div.noquestion {
	text-decoration: none;
	padding-bottom: 2px;
	background:url(/marketing/content/images/disk.gif) no-repeat 0px 4px;
	padding-left:12px;
}
div.faq .question:hover {
	text-decoration: underline;
}
div.faq .answer {
	padding: 6px 6px 6px 24px;
	display: none;
}
div.faq .question .boldUnder {
	text-decoration: underline;
	font-weight: bold;
	/* color: #990000; */
}
/* div.faq ul, div.faq ol {
	margin: 0 0 10px 20px; } */
	
	
	



div.faq_section h2 {
	margin-bottom: 1px;
	padding-bottom: 1px;
	border: dotted 0px #f00;
}

div.faq_block {
	border: dotted 0px #00f;
	padding-bottom: 2em;
}



div.question {
	color: #0000ff;
	
}


/* end of the FAQ css*/


/*css for the new site map*/


.sitemap_align{
	padding-left:30px;
	text-align:left;
	font-size:10pt;
	margin:10px 20px 10px 20px;
	}


div.quote_container{
text-align: center !important;
border: dotted 0px #f00;
} 



div.quote {
margin: 0px auto;
	background-color: #e6e9e9;
	background-image:url(../images/bg_quote_bottom.png);
	background-position:bottom;
	background-repeat: no-repeat;
	font-size:;
	width: 170px;
	padding: 0px 0px 40px 0px;
	text-align: left !important;
border: dotted 1px #0f0;	
}




div.quote_top{
	background-image:url(../images/bg_quote_top.png);
	background-position:top;
	background-repeat: no-repeat;
	padding: 40px 10px 10px 10px;
	border: dotted 0px #f00;
	text-align: left !important;
}


div.quote_container_700{
text-align: center !important;
border: dotted 0px #f00;
margin: 0px auto;
} 



div.quote_700 {
margin: 0px auto;
	background-color: #e6e9e9;
	background-image:url(../images/bg_quote_bottom_700.png);
	background-position:bottom;
	background-repeat: no-repeat;
	font-size:;
	width: 700px;
	padding: 0px 0px 40px 0px;
	text-align: left !important;
border: dotted 0px #0f0;	
}




div.quote_top_700 {
	background-image:url(../images/bg_quote_top_700.png);
	background-position:top;
	background-repeat: no-repeat;
	padding: 40px 10px 10px 10px;
	border: dotted 0px #f00;
	text-align: left !important;
}

div.quote_sig_700 {
	padding: 10px 160px 0px 0px;
	text-align: right;
}


div.quote_wide {
margin: 0px auto;
	background-color: #e6e9e9;
	background-image:url(../images/bg_quote_wide_bottom.png);
	background-position:bottom;
	background-repeat: no-repeat;
	font-size:;
	width: 220px;
	padding: 0px 0px 40px 0px;
	text-align: left !important;
border: dotted 0px #0f0;	
}



div.quote_wide_top{
	background-image:url(../images/bg_quote_wide_top.png);
	background-position:top;
	background-repeat: no-repeat;
	padding: 40px 10px 10px 10px;
	border: dotted 0px #f00;
	text-align: left !important;
}


div.quote_full_page_top{
	background-image:url(../images/bg_quote_full_page_top.png);
	background-position:top;
	background-repeat: no-repeat;
	padding: 40px 10px 10px 10px;
	border: dotted 0px #fff;
	text-align: center !important;
}

div.quote_full_page {
margin: 0px auto;
	background-color: #e6e9e9;
	background-image:url(../images/bg_quote_full_page_bottom.png);
	background-position:bottom;
	background-repeat: no-repeat;
	font-size:;
	padding: 0px 0px 40px 0px;
	text-align: center !important;
border: dotted 0px #fff;	

}




div.quote_sig{
	padding: 10px 0px 0px 0px;
	text-align: center;
}

div.quote_sig_full_page{
	padding: 10px 0px 0px 0px;
	text-align: right;
	font-weight:900;
}

.quote-2{
	text-align:right;
	padding-top:10px;
	font-size:13px;
}

.banner-paddings{
	margin:20px 0px 20px 0px;
}

.right_panel{
	
	vertical-align:top;
	float:right;
	width:220px;
	padding:10px 10px 40px 30px;
	text-align:center;

}



.text-align-left{
	text-align:left;
}

.image-align-right{
	float:right;
	margin:0px 0px 5px 10px;
}


.image-align-right2 {
	float:right;
	margin:10px 0px 20px 20px;
}






.green{
	background-color:#e6f6ff;
	color:#161c1b;
	padding:15px 10px 10px 10px;
	text-align:left;
	/* font-weight:700; */
	font-size:13px;
	border: solid 1px #c8eafc;
}	

.green_left_quote{
	background-color:#d7e2e0;
	color:#161c1b;
	padding:15px 10px 10px 10px;
	text-align:left;
	}




.align-right{
	text-align:left;
	margin-top:15px;
}



.bold_headings{
	font-size:16px;
	font-weight:700;
	color:#003333;
}

.content-subheaders{
	margin: 15px 0px 5px 0px;
	font-size:13px;
	font-weight:700;
}

/* css for redesigned partner page 
Tatjana, 9-29-2008 */

table.partner_logos {
	margin-top:15px;
	margin-left:0px;
	
}

table.partner_logos td{
	vertical-align:top;
}

table.partner_logos td a{
	display: inline;
	border: dotted 1px #f00;
}

table.partner_logos td a img{
	display: inline;
	border: dotted 1px #0f0;
}


table.logo_table td.td_header {
	padding-bottom: 12px;
}

table.logo_table td.td_header a{
	font-weight: 900;
}

td.logo_row {
	vertical-align: top;
}



td.logo_row a {
	padding-right: 9px; 
padding-bottom: 3px;
padding-top: 3px;
}



.centered {
	text-align:center;
}


.td_width td{
	width:144px;
	vertical-align:top;
}

.trainigs_table td{
	padding:8px;
	border-right:1px solid #666;
	border-top:1px solid #666;
	}
	


table.trainigs_table {
	margin:15px 0px 15px 0px;
	text-align:left;
	border-top: 1px solid #666;
	border-right: 0px solid #666;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;

}


.train-table  tr td{
	border-right: 0px solid #666;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	

}

.train-table td{
	border-right:solid 1px #666;
	padding:8px;
	vertical-align:top;

}

.train-table td.bord-lf {
	border-right:1px solid #666;
	padding:8px;
}



.train-table td.pad-4-td{
	padding:8px;
	border-right:1px solid #666;
	border-top:1px solid #666;
	}


/* claases added for the feedback form*/
.pad_top{
	padding-top: 20px;
	font-weight:700;
}


.formButton{
	background-image:url(../images/www-submit-button-bg.png);
	background-repeat:x;
	border-top: solid 1px #a8dbfc;
	border-left: solid 1px #a8dbfc;
	border-right: solid 1px #115cdf;
	border-bottom: solid 1px #115cdf;
	color:#FFF;
	font-weight:700;
	padding:4px 15px 4px 15px;
	margin:5px 80px 10px 0px;
	float:right;
}

.features_table{
	padding:12px;
	font-weight:640px;
}

ul.zrm-features li{
	list-style:url(../images/pointer1.gif);
	line-height:1.6em;
}

ul.zrm-features {
	width:270px;
	padding-top:0px;
	margin-top:0px;
}

.zrm_f{
	width:700px;
	vertical-align:top;
	padding-top:10px;
}

ul.zrm-features-1 li{
	list-style:url(../images/pointer1.gif);
	line-height:1.6em;
}

ul.zrm-features-1{
	float:right;
	width:270px;
	margin-right:30px;
	vertical-align:top;
	padding-top:0px;
	margin-top:0px;
}


/* blue pointer li to the special links with h1 font */

ul.no_style_no_pad{
	padding-bottom:20px;
}



ul.no_style_no_pad li{
	list-style:url(../images/pointer-blue.gif);
	color:#2514ff;
}

/*end of the blue pointer li to the special links with h1 font */

ul.no_style_no_pad li h1 a{
	color:#2514ff;	
}

.bottom_para-pad{
	padding-bottom:50px;
	}

.bottom_para-pad a{
	padding-right:30px;
	}



.support-tabl-ul{
	padding-left:0px;
	margin-left:10px;
	}

td.tab_end {
	background-image: url(../images/tabs/tab-end.png);
	background-repeat:repeat-x;
	font-size: 1px;
}



div.story table.jobs td{
	vertical-align:top;
	}


h3.jobs_head_spac{
	margin:0px;
	padding:15px 0px 0px 0px;
	}


div.bg_flash { 
background-image:url(../images/bg_flash.png);
background-repeat:no-repeat;
}




.ulist-no-padding-top{
	padding-top:2px;
	margin-top:0px;
	border:dashed 0px #F00;}


hr.ss {
margin-top: 2em;
padding-bottom: 2em;
}




.bottom_container {
	padding: 0px;
	border: dotted 1px #f00;
	height: 30px;
	margin-right: 10px;
	background-color: #dce2e6;
	color: #414645;
	border: dotted 0px #f00;
	font-size: 80%;
	vertical-align: middle;
}



.bottom_right {
	float: right;
	border: dotted 0px #f00;
	padding: 4px 0px 0px 0px;
}

.bottom_menu {
	padding: 6px 10px 0px 10px;
	vertical-align: middle;
	border: dotted 0px #0f0;
	float: left;
	
}

.bottom_menu_right {
	float: right;
	border: dotted 0px #0ff;
	font-weight: 900;
	 color: #414645;
	padding: 6px 10px 0px 0px;
 
}

.bottom_menu a {
 color: #414645;
 text-decoration: none;
}

.bottom_fineprint {
	padding: 10px 0px 20px 0px;
	text-align: center; 
	color: #fff;
	border: dotted 0px #f00;
	font-size: 90%;
}

.bottom_fineprint a {
	color: #fff;
}

.jp_icon {
	border: dotted 0px #f00;
	float: left;
	display: block;
	padding: 2px 6px 0px 0px;
}


a.twitter {
display: block;
float:left ;
padding: 4px 0px 0px 0px;
border: dotted 0px #0f0;
}


/* ZCB */
.align_right{
	float:right;
	width:340px;
	border: dashed 0px #888888;
}

.align_right2{
	float:right;
	width:328px;
	border: dashed 0px #888888;
}


table.main {
	vertical-align:top;
	text-align:left;
}

table.main td{	
	border: dotted 0px #f00;
	padding: 0px;
	vertical-align: top;
}

table.main td.spacer{	
	width: 10px;
	font-size: 1px;
}

table.main td.spacer_1{	
	width: 11px;
	font-size: 1px;
}
table.main td.spacer2{	
	width: 30px;
	font-size: 1px;
}

table.main td.td_bg{
	background-image:url(../zib_images/td_bg.png);
	background-repeat:repeat-y;
	padding-right: 30px;
	border: dotted 0px #f00;
	}

table.main td.td_bg_long{
	background-image:url(../zib_images/td_bg_long.png);
	background-repeat:repeat-y;
	padding-right:30px;	
	}
	
	
.td_bottom_bg{
	background-image:url(../zib_images/td_bottom_bg.png);
	background-repeat:no-repeat;
	}

.td_bottom_bg_long{
	background-image:url(../zib_images/td_bottom_bg_long.png);
	background-repeat:no-repeat;
	}

.head{
	width:366px;
	}



td.content_td{
	background-image:url(../zib_images/td_top_bg.png);
	background-repeat:no-repeat;
	height: 34px;
	font-size: 80%;
	}
	
td.content_td h2{
	font-weight: 900;
	font-size: 14px;
	padding-top: 0.5em;
	padding-left: 1em;
	margin: 0px;
	}
		

.zcb_message{
background-color: #bee8d0;
padding: 0.6em;
line-height: 1.6em;
    color: #32373A;
	font-size: 100%;
	margin-bottom: 1em;
	}

		
td.short_top{
	background-image:url(../zib_images/bg_short_top.png);
	background-repeat:no-repeat;
	height: 34px;
	width: 184px;
	font-size: 80%;
	}
	
td.short_top h2{
	font-weight: 900;
	font-size: 14px;
	padding-top: 0.5em;
	padding-left: 1em;
	margin: 0px;
	}
		
 td.short {
	background-image:url(../zib_images/bg_short.png);
	background-repeat:repeat-y;
	padding-right: 10px;
	border: dotted 0px #f00;
	font-size: 86%;
	}
	
td.short_bottom{
	background-image:url(../zib_images/bg_short_bottom.png);
	background-repeat:no-repeat;
	padding-bottom: 20px;
	}

table.right_col_zcb ul {
	border: dotted 0px #f00;
	padding-left: 2em;
	margin-right: 0px;
}


table.right_col_zcb ul li{
	border: dotted 0px #0f0;
	width: 140px;
}


	
	
td.long_td {
	background-image:url(../zib_images/td_head_bg_long.png);
	background-repeat:no-repeat;
	height: 34px;	
	}
	
td.long_td h2{
	font-weight: 900;
	font-size: 14px;
	padding-top: 0.5em;
	padding-left: 1em;
	margin: 0px;
	}	
	
div.container_bottom {
	border: dotted 0px #f00;
	padding: 0.2em 1em;
}	
	
div.list_support {
	padding: 0.5em 0.2em 0.5em 1em;
}	
	
div.list_support {
	padding: 0.5em 0.2em 0.5em 1em;
}	
	
div.list_support div {
		padding: 0.2em 0em;
	}	
	
div.list_support	div.list_support_sep {
		border-top: solid 1px #a4b5ab;
		margin: 10pxb 10px 0px 0px;
		margin-right: 20px;
		height: 2px;
		font-size: 1px;
	}
	
		div.list_support a {
		display: block;
		padding: 0.2em 0em;
		
	}	
	
.resources{
	background-image:url(../zib_images/div_resources_bg.png);
	background-repeat:y-repeat;
}	
	
div.why_zib{
	background-image:url(../zib_images/why_zib_bg.png);
	background-repeat:no-repeat;
	border: dashed 0px #00F;
	height: 210px;
	width:183px;
	}	
	
.resources_bg {
	background-image:url(../zib_images/resources_bg.png);
	background-repeat:no-repeat;
	height: 170px;
	border:dotted 0px #0054ff;
	}		


.supported-os {
	background-image:url(../zib_images/zib-os-apps-bg.png);
	background-repeat:no-repeat;
	height: 443px;
	border:dotted 0px #0054ff;
	
	}		


	
ul.why_zib_list{
	margin-left: 1em;
	padding:45px 3px 19px 0px;
	font-weight:900;
	border:dotted 0px #F0F;

	}	
	
ul.why_zib_list li{
	padding-top: 4px;
	padding-left: 0px;
	border:dotted 0px #0054ff;
	margin-left:1em;
	/* list-style:url(../zib_images/list-style-green.png); */
	
}	

ul.just_list {
	margin-left: 2em;
	padding:45px 3px 19px 0px;
	font-weight:700; 
	border:dotted 0px #F0F;
}

ul.just_list li{
	padding-right:4px;
	border:dotted 0px #F0F;
}

#z-logo{
	margin-left:7px;}


#top-banner{
	margin-left:3px;
	}
	
.button{
	margin-bottom: 5px;
}	
	
.button_2{
	border: dotted 0px #f00;
	margin-bottom: 12px;
}	
	
.button_3 {
	border: dotted 0px #f00;
	margin-bottom: 12px;
	text-align: center;
}	
	
	
	
	
p.top_para{
	color:#475f6d;
	font-weight:400;
	font-size: 90%;
}	


.small_bus_cost{
	width:355px;
	border: dotted 0px #0f0;
}	
	
.small_bus_cost2{
	width:343px;
	border: dotted 1px #0f0;
	margin-right: 0px;
}		
	
	
.chart{
	text-align:center;
	line-height:2em;
	}	
	
.para1{
	margin:10px 15px 10px 15px;
	}	
	
.para_small{
	margin:10px 15px 10px 15px;
	font-size:90%;
	}	
		
.red{
	color:#F00;
	}	
	
	
td.bg_top_green{
	background-image:url(../zib_images/bg_top_green.png);
	background-repeat:no-repeat;}
	

table.main  td.bg_green{
	margin:15px;
	background-image:url(../zib_images/td_bg_green_long.pngx);
	background-repeat:repeat-y;
	padding: 0px 25px 0px 15px;

}	

td.bg_bottom_green{
	background-image:url(../zib_images/bg_bottom_green.png);
	background-repeat:no-repeat;
	}
	
div.steps span.inactiv_steps{
	padding:0px;
	border: dashed 0px #F00;
	margin-left:8px;}


.footer{
    background-image:url(../zib_images/footer_grad.png);
    background-repeat:repeat-x;
    padding: 8px 0px;
    text-align:center;
    }    
	
p.para_x2 {
	padding-right: 30px;
}	

table.reg_form {
	border-top: solid 1px #cad6f1;
	border-left: solid 1px #cad6f1;
	border-right: solid 1px #cad6f1;		
	border-bottom: 0px;
}


table.reg_form td {
	padding: 0.4em 0.1em 0.3em 0.3em;
	border-bottom: solid 1px #cad6f1;
	background-color: #f8fafb;
}

div.return {
	float: right; 
	border: dotted 0px #f00;
	padding: 0px 20px 0px 0px; 
}


table.main_license td.left_td_license{
	width:125px;

}

.fieldError {color:#FF0000;}
.specialNote {color:#CC3333; font-size:12px;}


p.links_as_blocks {
border: dotted 1px #f00;
padding: 10px;
background-color: #0f0;
}


.links_as_blocks a{
	display:block;
	padding-bottom:11px;
	margin:0;
	}

div.special_h2_padding h2{
	padding: 10px 0px 2px 0px;
	margin:0px;
	
}

div.special_h2_padding p{
	padding:0px;
	margin-bottom:15px;
	
}


div.special_h2_padding  {
	margin:0px 30px 15px 10px;
}




.formButton{
	background-image:url(../zib_images/zib-submit-button-bg.png);
	background-repeat:x;
	border-top: solid 1px #a8dbfc;
	border-left: solid 1px #a8dbfc;
	border-right: solid 1px #115cdf;
	border-bottom: solid 1px #115cdf;
	color:#FFF;
	font-weight:700;
	padding:4px 15px 4px 15px;
	margin-top:5px;
	}


div.banner-main-zcb {
	border: dotted 0px #f00;
	padding: 5px 0px 0px 0px;
	text-align: center;
}

.head_2{
	padding: 6px 0px 0px 0px;
	border: dashed 0px #F00;
}


ul.numbered li {
	list-style:none;
	line-height:2.2em;}

table td.pad-top{
	padding-top:6px;
	}



/* services and support table */


table.support{
	border-left: solid 1px #addac0;
	
	}

table.support tr.last_line td{
	border-bottom: solid 1px #addac0;
	
	}



table.support td{
	padding:5px;
		border-right: solid 1px #addac0;
		text-align: center;
	}
	
table.align-left td{
		text-align: left !important;
	}
	
	
table.content_align_right  td{
text-align: right !important;
padding-right: 40px;


}	
	
	
	
	
table.support td.first_cell {
		text-align: left;
	}
	
	
table.support td.last_cell {
		text-align: left;
		border-bottom: solid 1px #addac0;	
		padding: 12px;	
	}
		
table.support tr.last_row td{
		border-bottom: solid 1px #addac0;	
	}
	

table.support tr.green{
	background-color:#addac0;
	font-weight: 900;
	font-size: 100%;
	
	}



table.support tr.light-green{
	background-color:#bee8d0;
	}


.grayed_out{
	background-color:#9cbbaa;
	
	}
	
.grayed_out2{
	background-color:#adcfbc;
	
	}


.greyed_out3{
	background-color:#e3f0e9;
	
	}






#current{
	font-weight:700;}







table.tutorials td{
	padding: 10px 5px 10px 5px;
	border-right: solid 1px #addac0;
	border-left: solid 1px #addac0;
	vertical-align: middle;
	font-weight: 900;
	font-size: 90%;
}

table.tutorials td img{
	border: solid 0px ;

}


table.tutorials tr.green{
	background-color:#addac0;
	font-size: 100%;	
	}

table.tutorials tr.light-green{
	background-color:#bee8d0;
		font-size: 100%;
	}

table.tutorials td.no-left-border {
border-left: solid 0px;
}


table.tutorials td.no-right-border {
border-right: solid 0px;
}


table.tutorials tr.last td{

	border-bottom: solid 1px #addac0;
}



.block_news h2 {

margin-bottom: 0px;
padding-bottom: 0px;

} 








/* ZCB  end */


table td {

vertical-align: top;
text-align: left;

}



table.form_container td {
	padding: 10px 0px;
}


table.form_container td.bottom_border {
	border-bottom: solid 1px #c1d3e1;
}



table.generic_form td {
padding: 10px 8px;
border-bottom: solid 1px #c1d3e1;
}


table.generic_form td.header {
background-color: #dfe6ee;
border-bottom: solid 1px #c1d3e1;
font-weight:900;

}


  td.td_spacer {
padding-right: 1.6em !important;
}


/* index */



table.index_main_table  td.vert_sep {
	font-size: 1px;
	vertical-align: top;	
	padding: 0px;
	margin: 0px;
}

table.index_main_table {
	margin: 0px 0px 0px 0px;
}

table.index_main_table td{
	vertical-align: top;
	border: dotted 0px #00f;
}



tr.subhead_tr {
	margin-top: 10px;
}

.index_sep {
	height: 7px;
}


.subhead_index {
	padding: 5px 0px ;
	border: dotted 0px #0f0;
}

div.bg-index-subhead {
	background-image:url(../images/bg-index-gray-left.png);
	background-repeat:no-repeat;
	height: 27px;
}

div.bg-index-subhead img{
	display: block;
	float: right;
}

div.bg-index-subhead-text {
	float: left;
	padding: 5px 2px 2px 10px;
	color: #333;
	font-weight: 900;
	font-size: 120%;
}

.subhead_index ul {
	border: dotted 0px #f00;
	margin-left: 1.6em;
	padding-left: 0.2em;
}

.subhead_index ul li {
	padding-bottom: 0.6em;
	padding-right: 1em;
	font-size: 80%;
}

.subhead_index ul li a {
	color: #333;
}

.subhead_index  h3{
	margin: 0px;
	padding: 0px;
	color: #5f726f;
	font-weight:900;
}



div.logos {
	vertical-align: top;
	text-align: center;
	border: dotted 0px #0f0;
	padding: 3px 0px 0px 23px;
	background-image:url(../images/bg-index-logos.png);
	background-repeat:no-repeat;
	height: 120px;
}



div.ss_banner {
	height: 116px;
		background-repeat:no-repeat;
		

}

div#vyatta{
	background-image:url(../images/ss_banner_vyatta.jpg);
}

div#vdp{
	background-image:url(../images/ss_banner_vdp.jpg);
}



div#six_degrees{
	background-image:url(../images/ss_banner_6degrees.jpg);
}

div#haas{
	background-image:url(../images/ss_banner_haas.jpg);
}


div#jane{
	background-image:url(../images/ss_banner_3jane.jpg);
}


div#zen{
	background-image:url(../images/ss_banner_zen.jpg);
}

div#prognosys{
	background-image:url(../images/ss_banner_prognosys.jpg);
}

div#power_reviews{
	background-image:url(../images/ss_banner_power_reviews.jpg);
}

div#veepee{
	background-image:url(../images/ss_banner_veepee.jpg);
}



div#medical{
	background-image:url(../images/ss_banner_medical.jpg);
}





div.ss_banner h1{
	color: #fff;
padding: 30px 0px 0px 10px;
border: dotted #f00 0px;
font-size: 140%;
}


div.ss_banner h4{
	color: #ccc;
padding: 10px 0px 0px 10px;
border: dotted #f00 0px;
font-size: 100%;
font-weight: 900;
}


div.feedback {

text-align: right;
padding: 0px 10px 10px 0px;
border: dotted 0px #f00;

}












ol.sub_list {
	border: dotted 0px #333;

}

ol.sub_list li {
	border: dotted 0px #0f0;

}




div.list_subhead {
	border: dotted 0px #f00;
	padding: 10px 0px 10px 10px;
	margin: 10px 0px;
	font-weight: 900;
	font-size: 110%;
	background-color: #d2e7e0;
}




div.list_block {
	border: dotted 0px #f00;
	padding: 0px 0px 0px 0px;
}


table.alternated  {
	border-left: solid 1px #666;
		border-top: solid 1px #666;
}

table.alternated td {
	border-right: solid 1px #666;
		border-bottom: solid 1px #666;
	padding: 5px;
	margin: 0px;
}

table.alternated tr.color td {
	background-color: #ffc;
}

table.alternated  td.first_cell {
	font-weight: 900;
}

.align-left {
text-align: left;

}


.price_centered {
vertical-align:middle;

}


table.calc {
width: 700px;
border: 2px solid #bee8d0;
padding: 4px;
}

table.calc tr.cloud-row, table.calc tr.upload-row{
display:none;
}

table.calc  td{

padding: 3px 10px 3px 6px;
}

table.calc th{
background-color:#5AA78D;
padding:2px;

}


table.calc  td.calc-header {
background-color: #bee8d0;
padding: 6px 10px 6px 6px;
font-weight: 900;
}


table.calc  td.calc-section{
padding-bottom: 20px;
}

table.calc  td.calc-section-field {
padding-bottom: 20px;
padding-left: 0px;
}


div.calc-sum {
border-top: 2px dotted #666;
font-size: 1px;
}

table.calc tr td:nth-child(3),table.calc tr td:nth-child(4), table.calc tr td:nth-child(2){
text-align:right;

}


table.contact  h2{
	padding-bottom: 0.1em;
	margin-bottom: 0.1em;
	margin-top: 0em;
	padding-top: 0em;
}

table.contact td.left_cell{
	width: 60%;
	padding-right: 60px;
}


div.para {
	padding-bottom: 2em;
}



.para_medium {
	padding-bottom: 2em;
}

.para_small2 {
	padding-bottom: 1em;
}



.rss {
	padding: 20px 0px 80px 0px;

}

table.webinar-table  {
	margin-bottom: 2em;
}




table.webinar-table td {
	padding: 5px 20px 5px 0px;
	border-bottom: solid 1px #ccc; 
}


table.webinar-table tr.first_row td {
	border-top: solid 1px #ccc; 
}





table.webinar-table td.strong {
	font-weight: 900;
}


.footnote {
font-style:italic;
font-size: 80%;

}



div.screenshots {
	
padding: 10px 0px 0px 0px;	
}

div.screenshots {
	
padding: 10px 0px 0px 0px;	
}


div.screenshots a {
display: block;
}


div.screenshots p {
	text-align:center;
	padding: 0em 0em 3em 0em;
	
}

div#quote.awards {
 text-align:center 	!important;
}


p.long {

padding-bottom: 2em;
}


.long2 {

margin-bottom:  2em;

}


.zcb_inpage_navi {

padding-bottom: 0px;

}


.zcb_inpage_navi li{

padding: 5px 0px 5px 0px;

}


.zcb_inpage_navi a {
font-size: 110%;

text-decoration: none;

}

.zcb_inpage_navi  a:hover {
text-decoration: underline;

}


.zcb_inpage_navi2 a {
font-size: 110%;
display: block;
text-decoration: none;
padding: 0px 0px 10px 0px;

}


.zcb_inpage_navi2  a:hover {
text-decoration: underline;

}


div.plusone div.LN {
visibility: hidden  !important;
}


ul.list_large {

font-size: 130%;
font-weight: 900;
padding-bottom: 2em;

} 

ul.list_large li {

padding-top: 1em;
padding-bottom: 1.em;
} 


ul.list_large ul {

font-size: 90%;
font-weight: 400;

} 


ul.list_spaced {

padding-bottom: 1.3em;

} 

ul.list_spaced li {

padding-top: 0.4em;
padding-bottom: 0.4em;
} 



/* googlecloudstorage index  */


td.ae_long_td {
	background-image:url(../images/ae-pane-top-no-text.png);
	background-repeat:no-repeat;

	font-weight: 900;
	font-size: 17px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 7em;
	margin: 0px;
	color:#FFFFFF;
	}
	
	
td.zcb_long_td {
	background-image:url(../images/zcb-pane-top-no-text.png);
	background-repeat:no-repeat;
	font-weight: 900;
	font-size: 18px;
	padding-top: 1em;
	padding-left: 7em;
	margin: 0px;
	color:#FFFFFF;
	}
		



.zcb_td_bottom_bg_long{
	background-image:url(../images/bg_bottom_gsc_zcb.png);
	background-repeat:no-repeat;
	}
	
table.gcs-page td.pane_zcb {
	background-image:url(../images/bg_gcs_vert_zcb.png);
	background-repeat:repeat-y;
	padding-right: 40px;
	border: dotted 0px #f00;
	padding: 1px;
}

table.gcs-page td.pane_ae{
	background-image:url(../images/bg_gcs_vert_ae.png);
	background-repeat:repeat-y;
	padding-right: 40px;
	border: dotted 0px #f00;
	padding: 1px;
}

table.gcs-page td.middle_space {
width: 32px !important;


}

table.gcs-page td ul{
	padding-bottom: 0em;

	}	




	
table.gcs-page td li{
	border: dotted 0px #f00;
	padding:1px 34px 10px 0px;
	font-size:14px;
	
	}	


table.gcs-page td h3 {

padding: 1em 0em 0em 1.3em;
font-size: 120%;

}

	
table.gcs_form_table {
	font-size: 90%;
	/* color: #3e3b3b; */
	margin-left:135px;
  }
	
	
table.gcs_form_table span.small_text_form  {
	font-size: 90%;

}
	
.gcs_image_div {
padding:5px 0px 20px 70px;
}	

.gcs_reg_btn{
padding:5px 0px 10px 280px;
}	
	
h1.gcs_super_arrow {
	border: dotted 0px #f00;
	background-image:url(../images/gcs_triangle.png);
	background-repeat:no-repeat;
	background-position: top center;
	height: 105px;
	width: 975px;
	text-align: center;
	vertical-align: middle !important;
	line-height: 1.2em;
	font-size: 150%;
	margin: 0px;
padding-top: 10px !important;

}	
	
h1.gcs_super_arrow_reverse {
	height: 65px;
	background-image:url(../images/gcs_triangle_reverse.png) !important;
	padding-top: 40px !important;
}		
	
	
	
	
	
	
	
	
	
	
table.gcs_bottom_buttons {
margin: 3em auto;
width: 850px;


}	
	
table.gcs_bottom_buttons td{
text-align: center !important;


}	
	
.floated_right_elements > div, .floated_right_elements > a  {

float: right;
padding-left: 10px;
padding-right: 10px;
}	
	
.floated_right_elements > div {

font-weight: 600;
padding-top: 12px !important;
padding-bottom: 0px !important;
}	
	


	
	
.centered_block {
display: block;
text-align: center;
}	
	
	
.block_zcb_sliding {

border: solid 1px #ADDAC0;
margin-bottom: 1em;
padding-bottom: 0px;
}
	
	
.block_zcb_sliding div.inner_container {
padding: 3px 10px 0px 10px;
}	
	
	
.block_zcb_sliding  h2 {
	background-color: #ADDAC0;
	margin-top: 0px;
	padding: 7px;
	font-size: 120%;
	background-image:url(../images/icon_zcb_expand.png);
	background-position: top right;
	background-repeat:no-repeat;
}
		
.block_zcb_sliding ul {
	margin-top: 0px;
}		
				
		
		
.block_zcb_sliding ul li{
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}		
		
.zcb_float_right {
	float: right;
	display: block;
	padding-top: 5px;
	padding-right: 135px;
	font-weight: 600;

}

.zcb_float_right2 {
	float: right;
	display: inline;
	padding-top: 5px;
	padding-right: 32px;
	font-weight: 600;

}



.zcb_container {
padding: 5px 0px 0px 12px !important;

}
	

.zcb_container ul {
padding-left: 0.8em;
margin-bottom: 0em;
}	

.zcb_container ul li {
padding-bottom: 0.8em;

}	
	
	
	
.zcb_small_block {
width: 330px; 
border: dotted 0px #f00;
padding-bottom: 20px;
}	
	
	
.zcb_small_block_left {
width: 345px; 

}	
	
		
.float_right {
	float: right;
}
	
	
	
table.zcb_tabbed {
	margin-bottom: 2em;
}		
		
		
table.zcb_tabbed td {
	border-bottom: solid 1px #bee8d0;
	margin: 0px;
}		


table.zcb_tabbed td  div{
		padding-top: 6px;
	padding-bottom: 8px;
	
}	


table.zcb_tabbed td.left_right {
	border-left: solid 1px #bee8d0;
	border-right: solid 1px #bee8d0;
	padding: 0px 10px 10px 10px;
}	

table.zcb_tabbed td.left_right a:hover {
	text-decoration: none;
}	

		
table.zcb_tabbed td.tab {
	font-size: 120%;
	text-align: center;
	padding: 11px 0px 8px 0px;
	width: 263px;
	font-weight:600;
	border-bottom: solid 0px #bee8d0 !important;	
}		
	
table.zcb_tabbed td.tab_active {
background-image:url(../images/bg_zcb_tab_active.png);
}		
	
table.zcb_tabbed td.tab_inactive {
background-image:url(../images/bg_zcb_tab_inactive.png);
}	
	
table.zcb_tabbed td.tab2 {
	font-size: 110%;
	padding: 11px 0px 6px 0px;
	font-weight:600;
	border-bottom: solid 0px #bee8d0 !important;	
}	
	
table.zcb_tabbed td.tab2 a, table.zcb_tabbed td.tab2 div{

	padding-top: 8px;

}	
		
	table.zcb_tabbed td.tab2 div.header{

		width: 252px;
		margin-left: 12px;	
		border: dotted 0px #f00;	
	
}	
	
	table.zcb_tabbed td.tab2 div.header_long{

		width: 332px;
		margin-left: 12px;	
		border: dotted 0px #f00;	
	
}		
	
	
	
	
table.zcb_tabbed td.tab_active2 {
background-image:url(../images/bg_zcb_tab_active2.png);
}		
	
table.zcb_tabbed td.tab_inactive2 {
background-image:url(../images/bg_zcb_tab_inactive2.png);
}	


table.zcb_tabbed td.tab_active_long2 {
background-image:url(../images/bg_zcb_tab_long_active.png);
}		
	
table.zcb_tabbed td.tab_inactive_long2 {
background-image:url(../images/bg_zcb_tab_long_inactive.png);
}	




	
	table.zcb_tabbed td.tab2 img{
	float: right;
margin-right: 12px;
	border: dotted 0px #0f0;
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
.clear-both {
clear:both;


}	
	
		
table.zcb_variants {
	border-top: solid 1px #c4d2c9;
	border-left: solid 1px #c4d2c9;
	border-right: solid 1px #c4d2c9;
	margin-bottom: 2em;
}			
		
		
table.zcb_variants td {
	border-bottom: solid 1px #c4d2c9;
	padding: 10px;
}	


table.zcb_variants tr.header td {
    color: #334D55;
    font-size: 120%;
	font-weight: 600;
    padding-top: 18px;
	padding-left: 18px;
	vertical-align:middle;

}	


table.zcb_variants  td.right {
	border-right: solid 1px #c4d2c9;
}	




table.zcb_variants tr.header td img{
float: right;
margin: 0px;
padding: 0px;
}	


h2.expand_header {
    background-color: #ddd;
    border: 0 dotted #FF0000;
    font-size: 100%;
    font-weight: 900;
    margin: 10px 0;
    padding: 5px 0 5px 30px;
	background-image:url(../images/expand_plus.png);
	background-repeat:no-repeat;
	background-position: center left;
	cursor: pointer;
}


h2.expanded {
	background-image:url(../images/expand_minus.png);
}


.top-link {
display: block;
text-align: right;
}

.colored_amazon, .colored_google {
padding: 2px 10px 10px 10px;
margin-bottom: 1em;

}

.colored_amazon {
background-color: #dbdbdb;

}

.colored_google{
background-color: #bad2ff;
margin-bottom: 2em;

}

.colored_google_header {
background-color: #bad2ff !important;

}


.colored_amazon ol, .colored_google ol {
background-color: #fff;
padding-top: 0.5em;
padding-right: 1em;
}

.colored_amazon > h2, .colored_google > h2 {
font-size: 110%;
}

.back_to_top {
display: block; 
text-align:right;
padding: 0.3em 0em;
}

.screenshot_border {
border: solid 1px #ccc;


}

.view_webinar_zcb_reseller {

display: none;
}
