[Unit]
Description=ehrserver
After=mysqld.service

[Service]
Type=simple
Environment="JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64"
Environment="EHRSERVER_REST_SECRET=6067dba9-1417-41c5-b1af-92208c77ce77"
Environment="EHRSERVER_SNQUERY_KEY=22222222-2222-2222-2222-222222222222"
#Environment="EHRSERVER_EMAIL_FROM="
#Environment="EHRSERVER_EMAIL_HOST="
#Environment="EHRSERVER_EMAIL_PORT="
#Environment="EHRSERVER_EMAIL_USER="
#Environment="EHRSERVER_EMAIL_PASS="
#Environment="EHRSERVER_ALLOW_WEB_USER_REGISTER=false"
WorkingDirectory=/path/to/your/cabolabs-ehrserver
ExecStart=/path/to/your/cabolabs-ehrserver/run.sh

Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ehrserver

PermissionsStartOnly=true
LimitNOFILE=4096
IgnoreSIGPIPE=false
User=ehrserver

[Install]
WantedBy=multi-user.target
