/* site specific styles -- lifehacker */
#thread_label,
.site-forecolor,
#thread_navigation ul,
a { color: #719602; }

#page .share_menu ul li a { color: #719602 !important; }

#rightbar .timestamp.highlight{ color: #719602 !important;}
#rightbar .date.highlight{ color: #719602 !important;}

#frontpage {
	background: url("../img/logo-lifehacker.png") no-repeat scroll left top transparent;
	width: 293px;
	height: 85px;
	left: 10px;
	top: -31px;
	background-size: 293px 85px;
}

/* OPEN DESIGN PER SITE STYLES */
.marked-head { background-color: #EBEEDD; }

.ui-shade { background-color: #F8FAF2 !important; }

.ad-shade { background-color: #f0f4e3 !important; }

.ui-border { border-color: #CAD2A7 !important; }
.ui-background { background-color: #CAD2A7 !important; }
.threadbullet { background-color: #CAD2A7; }

.ui-border-light { border-color: #F8FAF2 !important; }
.ui-light, .ui-light a { color: #A6BC65 !important; }
	.ui-shade .ui-light, .ui-shade .ui-light a { color: #719602 !important; }

.site-bg-color,
li.selected a,
.classic_frontpage .post.sponsored .taglink,
#thread_navigation a.selected {
	background-color: #709602;
	border-color: #709602;
	color: #FFFFFF;
}

#thumbList .thumb.current { border-color: #719602; }

.post-body li, ul.related li {  list-style-image: url('../img/bullet.png'); }

.airport.views.highlight { background-image: url("../img/icon-flame.png") !important; }
.airport.comments.highlight { background-image: url("../img/icon-comment.png") !important; }

.tagpage #frontpage {
	background: transparent url("../img/logo-tagpage.png") 12px -2px no-repeat;
	height:35px;
	width:192px;
	background-size: 175px 37px;
}

.tagpage #site { background-color: #709602;border-color:#709602; }
.tagpage #switch_view li a{ color:#FFF;background-color:transparent;border-color:transparent;}

.post-supp .post-meta #author-menu li span,
.post-supp .post-meta #author-menu a { color: #719602 !important;}

#tomorrowsnews span { padding-top: 105px; }

#tomorrowsnews { background-color: #F8FAF2; }

/* retina logos */
@media screen and (-webkit-min-device-pixel-ratio: 2) {

	#frontpage {
		background-image: url('../img/logo-lifehacker@2x.png');
	}

	.tagpage #frontpage {
		background-image: url('../img/logo-tagpage@2x.png');
	}

}
