body,input,button,textarea,select{font-family: Verdana,Geneva,Helvetica,Arial,sans-serif}
.second-font,h1,h2,h3,h4,h5,h6{font-family:GillSans, Trebuchet, Calibri, Arial, sans-serif}
body,table .nabble{font-size:.84em;margin:.8em}
code{font-size:1.1em}
.small{font-size:.9em}
#forum-header{padding-top:.5em;text-align:center}
#forum-footer{margin-top:.3em;padding-left:.5em;}
#forum-title{font-weight:bolder;font-size:190%;margin:0;}
#description-box{clear:both;font-size:90%;padding: 1em 1em .5em 1em;}
#search-box{text-align:right}
img.star{width:18px;height:18px;vertical-align:middle;border:none}
div.notice {position:fixed;top:0;left:50%;padding:.2em .4em;background-color:#FAE900;font-weight:bold;font-size:120%;display:none;}
.nabble a * {color:inherit;}
.nabble a:link,.nabble a.not-visited-link{color: #0000ee;}
.nabble a:visited,.nabble a.visited-link{color: #551a8b;}
.nabble,.nabble table{color:#000}
.nabble h1{color:#333}
.nabble .important{color:#c00}
.nabble .form-label,.nabble .weak-color{color:#666}
.nabble,.nabble .no-bg-color{background:#fff}
.nabble .light-bg-color{background:#f2f2f2}
.nabble .highlight{background:#ff9}
.nabble .error-message,.nabble .info-message{background:#ffc}
.nabble .medium-border-color{border-color:#ccc}
.nabble .light-border-color{border-color:#eee}
.nabble .dark-border-color{border-color:#666}
.nabble option{white-space:pre}
.nabble h1{font-size:1.8em;font-weight:700;margin-top:.4em;margin-bottom:.5em}
.nabble h1 a:link,.nabble h1 a:visited{text-decoration:none;font-weight:700}
.nabble h2{font-size:1.3em;padding:.3em 0;margin:0}
.nabble .smaller{font-size:.9em;font-weight:400}
.nabble h3 {font-size: 1.1em;font-style:italic;padding:.3em 0;margin:0}
div.message-text h2, div.root-text h2,div.message-text h3, div.root-text h3,div.message-text h4, div.root-text h4,div.message-text h5,div.root-text h5,div.message-text h6, div.root-text h6{padding: .6em 0 .4em;margin:0}
.nabble .top-bar{vertical-align:top;padding-bottom:.3em;height:1.6em;clear:both}
.search-box input {padding:2px 0 2px 25px;background: url('images/search.png') 5px 50% no-repeat;border-width:2px;border-style: solid;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.nabble .footer-table{width:100%;border-collapse:collapse;margin-top:2.4em;-moz-border-radius:6px;-webkit-border-radius:6px;clear:both}
.nabble .footer-table td{font-size:.9em;line-height:2em;padding-left:.5em;padding-right:.5em}
.nabble .footer-left {text-align:left;}
.nabble .footer-right{text-align:right}
.nabble .editor-table{border-spacing:0;border-style:solid;border-width:1px}
.nabble .editor-table td{border-bottom-width:1px;border-bottom-style:solid;padding:.42em}
.nabble form{margin:0}
.nabble .form-label{font-weight:700;text-align:right;font-size:.9em}
div.field-title,td.field-title{font-weight:700;font-size:110%;padding-bottom:.1em;margin-top:1.7em}
div.field-box{width:100%;padding:.5em 0;margin:.3em 0 .1em;border-bottom-width:1px;border-bottom-style:solid;}
.nabble .content-description{margin:1em}
.nabble .content-description p,.nabble .content-description li{line-height:1.67em}
.nabble .content-description h2{font-weight:700;font-size:1.17em;margin:1.1em 0 0}
.nabble blockquote.quote{border-left-width:2px;border-left-style:solid;font-size:.9em;margin:1.4em 1.8em}
.nabble div.quote{border-top-width:1px;border-top-style:solid;display:inline-block;padding:0 1em}
.nabble blockquote.quote div.quote-author{padding:.5em 0}
.nabble blockquote.quote div.quote-message{margin:.5em 0}
div.shrinkable-quote{overflow:hidden}
div.shrink-quote a{font-size:80%;text-decoration:none}
div.quote div.shrink-quote a{cursor:pointer;font-size:90%}
.invisible{display:none}
.nabble .ad{text-align:center;clear:both;margin:.5em 0}
.nowrap{white-space:nowrap}
.no-decoration{text-decoration:none}
.bold{font-weight:bold;}
.image16{width:16px;height:16px;vertical-align:middle;border:none}
.image24{width:24px;height:24px;vertical-align:middle;border:none}
.image32{width:32px;height:32px;vertical-align:middle;border:none}
.nabble .border1{border-style:solid;border-width:1px}
.nabble .border2{border-style:solid;border-width:2px}
.nabble .signature{clear:both;border-top: 1px solid #ddd;margin-top: 2em}
.black-overlay{display:none;position:absolute;top:0;left:0;width:100%;height:200%;background-color:#000;z-index:1001;opacity:.80;filter:Alpha(opacity=80)}
.window-content{display:none;position:absolute;top:25%;left:25%;width:50%;background-color:#FFF;z-index:1002;overflow:auto;-moz-border-radius:6px;-webkit-border-radius:6px;border-style:solid;border-width:5px;padding:16px}
span.dropdown{padding-right:.5em;line-height:normal}
span.dropdown table,span.dropdown ul,ul.dropdown-submenu{position:absolute;display:none;text-align:left;border-width:1px;border-style:solid;z-index:10000;border-collapse:collapse;padding:.1em .2em}
span.dropdown ul,ul.dropdown-submenu{list-style:none;padding:0}
span.dropdown table td,span.dropdown ul li,ul.dropdown-submenu li{font-size:90%;white-space:nowrap;padding:.2em .5em}
span.dropdown table a,span.dropdown ul li a,ul.dropdown-submenu li a{color:inherit;text-decoration:none;padding:.25em}
td.dropdown-simple-row{padding:.45em .75em !important}
td.action-separator{border-bottom-width: 1px;border-bottom-style: solid}
tr.dropdown-separator{font-size:1px;line-height:1px;display:none}
tr.dropdown-separator > *{line-height:0;font-size:1px;padding:0}
span.post-date{color:#6a6a6a;cursor:default}
span.post-author{color:#161;white-space:nowrap;font-size:100%;margin:0 .2em 0 .3em}
h2.post-subject{color:#777;overflow:hidden;white-space:nowrap;display:inline;cursor:default;font-size:100%;margin:0 0 0 1em;padding:0 .5em 0 0}
span.post-snippet,td.post-unindent{color:#909090}
div.post-border{border:2px solid #D9D9D9;width:99.9%}
span.connect-line{background-image:url(images/connect-line.gif);background-repeat:repeat-y}
span.connect-end{background-image:url(images/connect-line.gif);background-repeat:no-repeat}
td.connect-end{background-image:url(images/connect-end.gif);background-repeat:no-repeat}
td.connect-node{cursor:pointer;background-image:url(images/connect-node.gif);background-repeat:no-repeat}
td.connect-node-closed{background-image:url(images/connect-node-closed.gif);background-repeat:no-repeat}
.rounded{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.rounded-top{-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px;border-top-right-radius:5px}
.rounded-bottom{-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;border-left-radius:5px;border-bottom-right-radius:5px}
.drop-shadow{-webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;-moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 4px 0px}
h2.category-subject{display:inline;font-size:110%;margin:0;padding:0}
.nabble .app-notice {border:3px solid #EDD9B7;background: url('gradients/v60_FFFFF6_FFFFCC') #FFFFCC repeat-x;padding: .45em;text-align: center}
img.avatar{line-height:2em;vertical-align:-8px;-webkit-border-radius:5px;-moz-border-radius:5px;border-style:solid;border-width:2px}
img.online{position:relative;z-index:999;width:8px;height:8px;border:none;right:6px;top:10px;margin-right:-.5em}
img.left{float:left;margin:.4em}
img.right{float:right;margin:.4em}
img.center{display:block;margin-left:auto;margin-right:auto}
table.number{margin-bottom:.5em}
td.number{width:2em}
span.number{font-size:150%;border-style:solid;border-width:1px;padding:0 .3em .03em}
span.box,span.box-text{display:inline-block;background:url(images/shadow.png) no-repeat bottom right;position:relative;padding:5px 12px 12px 5px}
span.box-text{overflow:hidden;text-align:center;width:140px;height:110px}
div.pinned-box{position:relative;z-index:999;background-image:url(images/pin.png);width:20px;height:21px;top:10px;margin-top:-21px}
div.priority{color: white;text-align:center;font-weight:bolder;padding:.1em .2em;display:inline;-moz-border-radius: 3px;-webkit-border-radius:3px;border-radius:3px}
div.priority-1{background:url('/gradients/v25_FC5858_E01B1E') #E94747 repeat-x;border:1px solid #D13838;text-shadow:1px 1px 0 #D13838}
div.priority-2{background:url('/gradients/v25_F8D14A_D7BB4B') #D8B23D repeat-x;border: 1px solid #C9A92A;text-shadow:1px 1px 0 #a58803}
div.priority-3{background:url('/gradients/v25_D0D0D0_A0A0A0') #BCBCBC repeat-x;border:1px solid #909090;text-shadow:1px 1px 0 #777777}
div.priority-4{background:url('/gradients/v25_72DFF8_39B5D8') #81C7DE repeat-x;border:1px solid #25a2a8;text-shadow:1px 1px 0 #25a2a8}
div.priority-5{background:url('/gradients/v25_4378e8_1e3d80') #4A7BD5 repeat-x;border:1px solid #26478d;text-shadow:1px 1px 0 #333333}
.big-title{font-size:120%;font-weight:700}
div.sidebar-section,h2.sidebar-section{width:100%;-moz-border-radius:4px;-webkit-border-radius:4px;white-space:nowrap;margin:0 0 .3em;padding:.2em}
ul.sidebar-section{list-style-type:none;margin:0;padding:0}
ul.sidebar-section li{border-bottom-style:dotted;border-bottom-width:1px;white-space:nowrap;padding:.4em 0 .4em .5em}
#captcha{text-transform:uppercase}
.float-right{float:right}
.nabble .shaded-bg-color,.post-hover{background:#eee}
.nabble .dark-bg-color{background:#ddd}
.nabble a,.nabble table,.nabble input,.nabble textarea,.nabble select,.nabble blockquote.quote blockquote.quote{font-size:1em}
input[type='radio'],input[type='checkbox'] {vertical-align:-15%}
label {cursor: pointer;}
.inline,h3.news-title{display:inline}
.float-left,div.news-title{float:left}
button.toolbar,input[type=submit].toolbar,input[type=button].toolbar{white-space:nowrap;text-shadow:1px 1px 0 white;padding:.15em .25em;margin:0;font:100%/1.4 Arial,Sans-serif;color:#333 !important;cursor:pointer;background:#ddd url(images/btn_bg.gif) repeat-x 0 0 !important;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius: 3px;border-left:1px solid #bbb;border-right:1px solid #aaa;border-top:1px solid #bbb;border-bottom:1px solid #aaa;outline:0}
button.toolbar:active,input[type=submit].toolbar:active,input[type=button].toolbar:active{background-position:0 -500px;outline:0}
button.toolbar-disabled,input[type=submit].toolbar-disabled,input[type=button].toolbar-disabled{color: #777}
button.toolbar-disabled:active,input[type=submit].toolbar-disabled,input[type=button].toolbar-disabled {background-position:0 0}
button.action-button,input[type=submit].action-button,input[type=button].action-button{padding:.25em .5em;font-weight: bold}