div.hireme,
div#hireme {
  border: 1px solid #B5B5B5;
  background: #ffffff url(img/careers2-ad-header-so-crop.png) 1px 1px no-repeat;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  line-height: 130%;
  padding: 0;
  margin: 12px 0;
  width: 218px;
  min-height: 220px;
  clear: both;
}
div.hireme.codinghorror,
div#hireme.codinghorror {
  background-image: url(img/careers2-ad-header-so-crop-codinghorror.png);
  width: 206px;
  min-height: 200px;
}
div.hireme > a.top,
div#hireme > a.top {
  width: 218px;
  height: 45px;
  display: inline-block;
}
div.hireme > ul,
div#hireme > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
div.hireme > ul > li,
div#hireme > ul > li {
  padding: 0;
  margin: 12px !important;
}
div.hireme > ul > li > a,
div#hireme > ul > li > a {
  display: block;
  cursor: pointer;
  text-decoration: none;
}
div.hireme > ul > li > a > span,
div#hireme > ul > li > a > span {
  color: #666;
  float: none;
  display: block;
}
div.hireme > ul > li > a > span.company,
div#hireme > ul > li > a > span.company {
  font-weight: bold;
}
div.hireme > ul > img.impression,
div#hireme > ul > img.impression {
  display: none;
}
div.hireme > ul > a > img.careers-hed,
div#hireme > ul > a > img.careers-hed {
  width: 100%;
  min-height: 40px;
  border: 0;
  margin-bottom: -2px;
}
div.hireme span.post-tag,
div#hireme span.post-tag {
  font: 11px/24px Tahoma, Arial, Verdana, Sans-Serif;
  background-color: #E0EAF1;
  color: #3E6D8E;
  padding: 3px 3px 3px 4px;
  border: 0;
  border-bottom: 1px solid #3E6D8E;
  border-right: 1px solid #7F9FB6;
}
div.hireme span.post-tag:hover,
div#hireme span.post-tag:hover {
  background-color: #E0EAF1;
  color: #3E6D8E;
}
